# python caching
src/__pycache__
src/main/__pycache__
src/backend/__pycache__
src/handler/__pycache__
src/renderers/__pycache__
hooks/__pycache__
libFix/__pycache__
*.pyc

# other stupid stuff
venv
.venv
.DS_Store
dist
build

# please no harass :(
# I've already got too many, I don't want more :(
GEMINI.md
